.container {
  width: 800px;
  margin: 0 auto;
}

.title {
  display: flex;
  align-items: center;
}

.title h2 {
  flex: 1;
  font-family: 'Segoe UI', sans-serif;
  line-height: initial;
  font-size: 2rem;
  font-weight: 300;
}
